[Desktop Entry]
Name=Java Archive Runner
GenericName=JAR Runner
Comment=Run Java archives using a bundled OpenJDK
Exec=kjarapp %f
Icon=org.kde.kjar
Terminal=false
Type=Application
MimeType=application/java-archive;application/x-java-archive;
Categories=Development;Utility;
Keywords=Java;JAR;JDK;JVM;OpenJDK;
StartupNotify=true
