[Desktop Entry]
Name=Java Archive Runner
Comment=Run JAR files
Exec=kjarapp %f
Icon=application-x-java-archive
Terminal=false
Type=Application
MimeType=application/java-archive;
Categories=Development;
